catalog_schema.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!-- XML Schema for validating bookstore catalog data -->

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <!-- Root element representing the entire catalog -->
    <xs:element name="catalog">
        <xs:complexType>
            <xs:sequence>

                <!-- Book element can appear multiple times -->
                <xs:element name="book" maxOccurs="unbounded">
                    <xs:complexType>

                        <xs:sequence>

                            <!-- Title element containing publication year -->
                            <xs:element name="title">
                                <xs:complexType>
                                    <xs:sequence>

                                        <!-- Publication year of the book -->
                                        <xs:element name="publicationYear" type="xs:integer"/>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                            <!-- Author element containing first and last name -->
                            <xs:element name="author">
                                <xs:complexType>
                                    <xs:sequence>

                                        <!-- Author's first name -->
                                        <xs:element name="firstName" type="xs:string"/>

                                        <!-- Author's last name -->
                                        <xs:element name="lastName" type="xs:string"/>

                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>

                        </xs:sequence>

                        <!-- Unique identifier for the book -->
                        <xs:attribute name="id" type="xs:string" use="required"/>

                        <!-- Availability status -->
                        <xs:attribute name="available" type="xs:boolean" use="required"/>

                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>